.com {
  a {
    color: #1677ff;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
